.header {
	position: sticky;
	z-index: 1000;
	top: 0;
	background: $white;
	.wrapper {
		height: 6.5rem;
		padding: 0 2rem;

		@media screen and (min-width: 768px) {
			padding: 0;
			height: 8rem;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 140px;
			cursor: pointer;
		}

		.close {
			display: flex;
		}

		ul {
			position: fixed;
			top: 8rem;
			left: 50%;
			transform: translateX(-50%);
			background: $white;
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			width: 90%;
			padding: 3.5rem 0;
			border-radius: 1rem;

			a {
				color: $dark-blue;
			}

			@media screen and (min-width: 768px) {
				all: unset;
				list-style: none;
				display: flex;
				gap: 2rem;

				a {
					color: $grayish-blue;
					font-size: 1.45rem;
				}
			}
		}

		.btn {
			display: none;

			@media screen and (min-width: 768px) {
				display: inline-block;
			}
		}

		.menu {
			width: 4rem;
			height: 4rem;
			background: url(https://vieirahenrique.github.io/easybank/images/icon-hamburger.svg)
				no-repeat center;
			cursor: pointer;

			@media screen and (min-width: 768px) {
				background: none;
				height: fit-content;
				width: fit-content;
			}
		}

		.x {
			background: url(https://vieirahenrique.github.io/easybank/images/icon-close.svg)
				no-repeat center;
		}
	}
}
