.hero {
	text-align: center;
	padding-bottom: 9rem;
	position: relative;

	&__img {
		height: 30rem;
		margin: 0 -2.4rem;
		background: url(https://vieirahenrique.github.io/easybank/images/image-mockups.png)
				center bottom no-repeat,
			url(https://vieirahenrique.github.io/easybank/images/bg-intro-mobile.svg)
				center;
		background-size: 345px, cover;
	}

	@media screen and (min-width: 1025px) {
		padding-bottom: 0;

		&__content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			min-height: 66rem;
			align-items: center;
			overflow-x: hidden;

			@media screen and (min-width: 1025px) {
				background: url(https://vieirahenrique.github.io/easybank/images/bg-intro-desktop.svg)
					right -400px top -350px no-repeat;

				margin-right: -420px;
				background-size: cover;
			}
		}

		&__img {
			position: absolute;
			z-index: 0;
			order: 1;
			min-height: 80rem;
			width: 80rem;
			top: 0rem;
			right: -18rem;

			background: url(https://vieirahenrique.github.io/easybank/images/image-mockups.png)
				center bottom no-repeat;
			background-size: 95%;

			@media screen and (min-width: 1441px) {
				right: 3rem;
				background-size: 95%;
			}
		}

		&__description {
			text-align: left;
			max-width: 435px;

			.title {
				max-width: 395px;
				font-size: 5.2rem;
			}

			.copy {
				font-size: 1.7rem;
			}
		}
	}
}
