@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.8rem;
	font-family: 'Public Sans', sans-serif;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;
}

input,
textarea {
	padding: 1rem;
	border: none;
	outline: none;
}

p {
	line-height: 1.5;
}

img {
	width: 100%;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 2rem;
}

#overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba($color: hsl(233, 26%, 24%), $alpha: 0.5);
}

.overlay-hidden {
	display: none;
}
